@import "styles/unit.scss";

.singleBanner {
  display: flex;
  align-items: center;
  position: relative;
  height: rem(640);

  .banner_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 9;
    color: #fff;

    .banner_title {
      font-family: "SF Pro Display";
      font-weight: 700;
      font-size: rem(56);
      line-height: rem(60);
      color: #28292f;
    }

    .banner_subtitle {
      font-size: rem(20);
      line-height: rem(26);
      margin: rem(12) 0 0;
      max-width: rem(504);
      color: #4b5362 !important;
    }

    .banner_btn {
      font-family: "SF Pro Display";
      font-weight: 500;
      font-size: rem(18);
      line-height: rem(24);
      text-transform: none;
      color: #fff;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: rem(175);
      height: rem(48);
      margin: rem(40) 0 0;
      border-radius: rem(6);
      background: #1b5bf7;
    }
  }
}

.close_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: rem(32);
  height: rem(32);
  border: none;
  border-radius: 100px;
  background: #f8fafb;
  cursor: pointer;
}

.dialog_content {
  padding: rem(32) rem(40) rem(32);
  position: relative;
  height: rem(520);
  border-radius: rem(12);
  background: #fff;

  .dialog_context {
    h2 {
      font-family: "SF Pro Display";
      font-weight: 700;
      font-size: rem(40);
      line-height: rem(48);
      margin: 0 0 rem(24);
    }
    p {
      font-family: "SF Pro Display";
      font-weight: 400;
      font-size: rem(20);
      line-height: rem(24);
      color: #5b6871;
      margin: 0 0 rem(24);
    }

    form {
      display: flex;
      flex-direction: column;

      input {
        margin: 0 0 rem(16);
        padding: rem(12) 0 rem(12) rem(16);
        height: rem(48);
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        background: #ffffff;

        &::placeholder {
          font-family: "SF Pro Display";
          font-weight: 400;
          font-size: rem(15);
          line-height: rem(24);
          color: #48535b;
          outline: none;
        }
      }
      button {
        font-weight: 600;
        font-size: rem(20);
        line-height: rem(30);
        margin: rem(16) 0 0;
        color: #fff;
        height: 58px;
        border: none;
        border-radius: 5px;
        background: #1b5bf7;
        cursor: pointer;
      }
    }
  }
}
