@import "styles/_unit.scss";

.bootcamp {
  background: #f3f7ff;
  padding: rem(40) 0;
  width: 100%;
  margin: 0 0 rem(60);

  .bootcamp_title {
    font-size: rem(40);
    line-height: rem(48);
    font-weight: 700;
    color: #18191f;
    margin: 0 0 rem(48);
    font-family: "SF Pro Display";
  }

  .bootcamp_content {
    display: flex;
    justify-content: space-between;

    .bootcamp_context {
      .bootcamp_context_item {
        display: flex;
        align-items: center;
        max-width: rem(540);
        min-height: rem(80);

        &:not(:last-child) {
          margin: 0 0 rem(48);
        }

        .bootcamp_context_icon {
          width: rem(80);
          height: rem(80);
          border-radius: 50%;
          background: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 rem(32) 0 0;
          padding: 24px;
        }
        p {
          font-size: rem(24);
          line-height: rem(35);
          color: #18191f;
          font-weight: 600;
        }
      }
    }
    .bootcamp_infoImg {
      width: rem(506);
      height: rem(463);
      border-radius: rem(6);
      overflow: hidden;
    }
  }
}
