@import 'styles/_unit.scss';

.process {
    padding: rem(40) 0;
    margin: 0 0 rem(60);
    
    .process_title {
        font-size: rem(40);
        line-height: rem(48);
        font-weight: 700;
        font-family: "SF Pro Display";
        color:#000;
        text-align: center;
        margin: 0 0 rem(40);
        
    }
    .process_content {
        
        .process_content_process {
           max-width: 100%; 
           height: rem(304);
        }
    }
}