@import 'styles/_unit.scss';

.stepInfo {
    background: #F3F7FF;
    padding: rem(40) 0;
    margin: 0 0 rem(60);
    
    .stepInfo_content {
        display: flex;
        justify-content: space-between;
        
        .stepInfo_content_item {
            
            
         .stepInfo_title {
            display: flex;
            align-items: center;
            margin: 0 0 rem(12);
            
            .stepInfo_dot {
                width: rem(6);
                height: rem(6);
                border-radius: 50%;
                background: #000;
                margin: 0 rem(12) 0 0;
            }
            h3 {
                font-size: rem(22);   
                line-height: rem(26);
                color:#1A2024;
                font-weight: 600;
                font-family: 'SF Pro Display';
            }
         } 
         
         .stepInfo_subtitle {
            font-size: rem(20);
            line-height: rem(22);
            font-weight: 400;
            font-family: "SF Pro Display";
            margin-left: rem(18);
         }
        }
    }
}