@import 'styles/_unit.scss';

.certificate {
    padding: rem(40) 0;
    background: #F3F7FF;
    
    .certificate_content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        
        .certificate_context {
            max-width: rem(587);
            
            h2 {
                font-size: rem(40);
                line-height: rem(48);
                font-weight: 700;
                color:#000;
                font-family: "SF Pro Display";
                margin: 0 0 rem(12);
            }
            p {
                font-size: rem(16);   
                line-height: rem(24);
                font-weight: 400;
                font-family: "SF Pro Display";
                color:#5B6871;
            }
        }
        .certificate_img {
            width: rem(403);
            height: rem(303);
            margin-left: rem(132);
        }
    }
}