@import "styles/_unit.scss";

.blog {
  margin-bottom: rem(60);
  padding: rem(40) 0;

  .blog_title {
    font-family: "SF Pro Display";
    font-weight: 700;
    font-size: rem(40);
    line-height: rem(48);
    text-align: center;
    color: #000;
    margin-bottom: rem(100);
  }

  .blog_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: rem(24);

    .blog_content_item {
      max-width: rem(400);
      padding: rem(0) rem(32) rem(30);
      border: 1px solid #eff0f6;
      border-radius: 8px;
      background: #ffffff;

      .blog_content_img {
        position: relative;
        max-width: rem(295);
        height: rem(227);
        margin: rem(-60) auto 0;
      }

      h4 {
        font-weight: 600;
        font-size: rem(22);
        line-height: rem(26);
        max-width: rem(336);
        height: rem(52);
        color: #1a2024;
        margin: rem(40) 0 rem(12);
      }
      p {
        font-family: "Inter";
        font-size: rem(16);
        line-height: rem(22);
        font-weight: 400;
        color: #5b6871;
        min-height: rem(88);
      }
    }
  }
}
