@import 'unit';
@import '../../public/fonts/font.css';

:root {
  --primary-color: #51267d;
  --secondary-color: #fdc100;
  --text-color: #696969;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'SF Pro Display';
  font-weight: 400;
}
.container {
  max-width: rem(1296) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
#banner .MuiContainer-root {
  padding-right: 0;
}

.title {
  font-weight: 700;
  font-size: rem(40);
  line-height: rem(48);
  color:#000;
  font-family: "SF Pro Display";
  text-align: center;
  margin-bottom: rem(40);
}

// graduates_slider
.graduates_slider {
    padding-bottom: rem(24);

}
.graduates_slider .slick-dots {
  position: absolute;
}

.graduates_slider .slick-dots li {
  width: 10px;
  height: 10px;
  margin: 0 rem(5);
}
.graduates_slider .slick-dots li button::before {
  font-size: 10px;
  color:#bdbdbd;
  opacity: 1 !important;
  
  
  &:hover::before {
    opacity: 0 !important;
  }
}

.graduates_slider .slick-dots {
    height: rem(32);
    
    li {
      // margin: 0 !important;
      // padding: 0 !important;
      margin: 0 rem(2);
    }
}
.graduates_slider .slick-dots li.slick-active button::before {
  color:#0071FF;
  border: none;
  font-size: 12px;
}


// Accordion Study Plan Component
#study_plan {
  
  .MuiPaper-root .MuiAccordion-root {
    background-color: none !important;
    display: none;
  }
  
  .MuiButtonBase-root {
    height: rem(88) !important;
    background: #F3F7FF;
    padding: rem(31.5) rem(24);
  }
}
#panel1bh-header {
  
  
  .MuiAccordionSummary-expandIconWrapper {
    width: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: rem(8);
  }
}


// ////////////////
#question_content {
  .MuiButtonBase-root {
    height: 88px;
    // background-color: #fff;
    
  }
  .MuiPaper-root {
    background-color: none !important;
    color:none;
    
  }
}
#accordion {
  box-shadow: none !important;
}
#question_accordion {
  
    
  .MuiAccordionSummary-expandIconWrapper  {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #F8FAFB;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#dialog {
  
  .MuiPaper-root {
    overflow-y: inherit !important;
    border-radius: 12px !important;
  }
}
#feedback_dialog {
    
    
  .MuiPaper-root {
    overflow-y: inherit !important;
    border-radius: 12px !important;
    background: none;
  }
  // .MuiDialog-container {
  //   // display: block;
  // }
}

// teachers slider
.teachers_slider {
  padding-bottom: rem(30);
}

.teachers_slider .slick-dots {
  position: absolute;
  bottom: 0;
  right: rem(32);
  width: rem(470);
}

.teachers_slider .slick-dots li {
  width: rem(10);
  height: rem(10);
  margin: 0 rem(2);
}

.teachers_slider .slick-dots li button:before {
  font-size: rem(10);
  color:#bdbdbd;
  opacity: 1 !important;
}

.teachers_slider .slick-dots li.slick-active button::before {
  color:#0071FF;
  border: none;
  font-size: rem(12);
}