@import 'styles/_unit.scss';

.footer {
    padding: rem(40) 0;
    
    .footer_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
      
        .footer_info {
            max-width: rem(380);
            
            .footer_logo {
                display: block;
                width: rem(140);
                margin: 0 0 rem(15);
            }
            p {
                font-size: rem(18);
                line-height: rem(28);
                font-family: "Inter";
                color:#2B2B2B;
                font-weight: 400;
                margin: 0 0 rem(20);
            }
            
            .footer_socials {
                height: rem(24);
                display: flex;
                align-items: center;
                
                a {
                    width: rem(24);
                    height: rem(24);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:not(:last-child) {
                      margin-right: rem(40);  
                    }
                }
            }
        }
        .context {
            min-width: rem(665);
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .context_item {
                min-width: rem(190);
                
                h4 {
                    font-size: rem(20);
                    line-height: rem(24);
                    font-weight: 700;
                    color:#2B2B2B;
                    margin: 0 0 rem(17);
                }
                
                .context_item_links {
                   display: flex; 
                   flex-direction: column;
                    
                    .context_item_link {
                       font-size: rem(18);
                       line-height: rem(24);
                       font-weight: 400;
                       font-family: "Inter";
                       color:#2B2B2B;
                       
                       &:not(:last-child) {
                          margin-bottom: rem(12);
                       }
                        
                    }
                }
            }
        }
    }
}