@import 'styles/_unit.scss';

.question {
    padding: rem(40) 0;
    background: #EEF3FF;
    
    .question_title {
        font-size: rem(40);
        line-height: rem(48);
        font-weight: 700;
        font-family: "SF Pro Display";
        color:#000;
        text-align: center;
        margin: 0 0 rem(40);
        
    }
    .question_accordion_content {
        
        
        .question_accordion_title {
            font-size: rem(20) !important;
            line-height: rem(25);
            color:#000;
            font-weight: 700;
            font-family: "SF Pro Display";
            width: 600px;
        }
        .question_accordion_subtitle {
            font-size: rem(16);
            line-height: rem(28);
            font-weight: 400;
            font-family: 'SF Pro Display';
            color:#5B6871;
        }
    }
    .question_accordion_details {
        padding: 0 0 rem(16) rem(24);
    }
}
.accordion {
    background-color: none !important;
    border-radius: rem(8) !important;
    overflow: hidden;
    &:not(:last-child) {
        margin-bottom: rem(16);
    }
    
    .accordion_title {
        font-size: rem(20) !important;   
        line-height: rem(25);
        font-weight: 700;
        color:#000;
        width: rem(800);
        
    }
    .accordion_details {
        border-bottom-left-radius: rem(8);
        border-bottom-right-radius: rem(8);
        // background: #F3F7FF;
        padding: 0 !important; 
        
        
        .accordion_content {
            padding: 0 0 rem(16) rem(48);  
            
            li {
                font-size: rem(17);
                line-height: rem(28);
                font-weight: 400;
                font-family: "SF Pro Display";
                color:#5B6871;
                
                &:not(:last-child) {
                    margin-bottom: rem(12);
                }
            }
        }
    }
    
}