@import 'styles/_unit.scss';

.form {
    background: #EEF3FF;
    padding: rem(60) 0;
    width: 100%;
    
    .form_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .form_content_text {
            max-width: rem(553);
            h2 {
                font-size: rem(50);
                line-height: rem(60);
                font-weight: 700;
                font-family: "SF Pro Display";
                color: #1A2024;
                margin-bottom: rem(12);
            }
            p {
                font-size: rem(20);   
                line-height: rem(28);
                font-family: "SF Pro Display";
                font-weight: 400;
                color:#5B6871;
                
            }
        }
        
        
        .form_panel {
            max-width: rem(425);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            .form_input {
               width: rem(425); 
               height: rem(48);
               border:none;
               background: #fff;
               margin: 0 0 rem(16);
               padding: rem(13) rem(16) rem(13) rem(16);
               border-radius: rem(5);
               
               &::placeholder {
                font-size: rem(15);
                line-height: rem(24);
                color:#48535B;
                font-family: "SF Pro Display";
                font-weight: 400;
               }
                
            }
            
            button {
                width: 100%;
                margin: rem(16) 0 0;
                height: rem(52);
                background: #1B5BF7;
                border:none;
                border-radius: rem(5);
                color:#fff;
                font-size: rem(18);
                line-height: rem(30);
                font-family: "SF Pro Display";
                cursor: pointer;
                font-weight: 600;
                
            }
        }
    }
}