@import "styles/_unit.scss";

.singleForm {
  margin: rem(60) 0;
  padding: rem(40) 0;
  background: #fff;

  .singleForm_content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .singleForm_context {
      max-width: rem(554);

      h2 {
        font-family: "SF Pro Display";
        font-weight: 700;
        font-size: rem(40);
        line-height: rem(48);
        color: #1a2024;
        margin: 0 0 rem(16);
      }
      p {
        font-family: "SF Pro Display";
        font-weight: 400;
        font-size: rem(20);
        line-height: rem(24);
        color: #5b6871;
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      width: rem(425);

      .form_controls {
        margin: 0 0 rem(16);
        padding: rem(12) 0 rem(12) rem(16);
        height: rem(48);
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-radius: rem(5);
        outline: none;
        background: #ffffff;

        &::placeholder {
          font-weight: 400;
          font-size: rem(15);
          line-height: rem(24);
          color: #48535b;
        }
      }
      .form_btn {
        font-family: "SF Pro Display";
        font-weight: 500;
        font-size: rem(18);
        line-height: rem(30);
        text-transform: none;
        color: #fff;
        margin-top: rem(16);
        width: 100%;
        height: rem(58);
        border-radius: rem(5);
        background: #1b5bf7;
      }
    }
  }
}
