@import 'styles/_unit.scss';

.employers {
    background: #fff;
    padding: rem(40) 0;
    margin: 0 0 rem(60);
    
    .employers_title {
        font-size: rem(40);    
        line-height: rem(48);
        font-weight: 700;
        color:#000;
        font-family: "SF Pro Display";
        text-align: center;
        margin: 0 0 rem(40);
    }
    .employers_content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: rem(24);
        
        .employers_content_item {
            width: rem(230);
            height: rem(99);
            background: #FFFFFF;
            box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.16);
            border-radius: 8px;
            transform: matrix(1, 0, 0, 1, 0, 0);
            display: flex;
            align-items: center;
            justify-content: center;
            
            &:nth-child(2) {
                background: #FDE61D;
            }
            &:nth-child(4) {
                background: #43A250;
            }
            &:nth-child(5) {
                background: #FFEC00;
            }

        }
    }
}