@import "styles/_unit.scss";

.teachers {
  margin: 0 0 rem(60);
  padding: rem(40) 0;
  background: #f3f7ff;

  &_content {
    display: flex !important;
    justify-content: space-between;
    padding-right: rem(32);
  }

  &_left {
    h2 {
      font-family: "SF Pro Display";
      font-size: rem(48);
      font-weight: 700;
      line-height: rem(56);
      margin: rem(83) 0 rem(72);
    }

    p {
      font-family: "SF Pro Display";
      font-size: rem(20);
      font-weight: 500;
      line-height: rem(32);
      max-width: rem(521);
      color: #48535b;
      margin: 0 0 rem(32);
    }

    h4 {
      font-family: "SF Pro Display";
      font-size: rem(24);
      font-weight: 600;
      line-height: rem(29);
      color: #1a2024;
    }
  }

  &_right {
    position: relative;
    width: rem(470);
    height: rem(528);
    
    &_bg {
      position: absolute;
      left: 0;
      bottom: 0;

      svg {
        display: block;
      }
    }

    &_btns {

      & > button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: rem(194);
        width: rem(52);
        height: rem(52);
        border: none;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 2px 1px 12px rgba(0, 0, 0, 0.07);
      }

      &_pre {
        transform: translateX(-50%);
      }

      &_next {
        right: 0;
        transform: translateX(50%);
      }
    }

    &_img {
      position: relative;
      width: rem(451);
      height: rem(528);
      margin: 0 auto;
    }
  }
}
