@import 'styles/unit.scss';

.banner {
  height: rem(640);
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 rem(40);
    
    .banner_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .banner_text {
        position: relative;
        z-index: 9;
        color: #fff;
        max-width: rem(573);
        
        .banner_title {
            max-width: rem(600);
            font-size: rem(56);
            line-height: rem(67);
            font-weight: 700;
            font-family: 'SF Pro Display';
            color:#000;
        }
        .banner_subtitle {
            max-width: rem(504);
            font-size: rem(20);
            line-height: rem(26);
            margin: rem(12) 0 0;
            color: #5B6871;
            font-family: "SF Pro Display";
            font-weight: 400;
            
        }
        .banner_btn {
            width: rem(175);
            height: rem(48);
            background: #1B5BF7;
            color:#fff;
            font-weight: 500;
            font-family: "SF Pro Display";
            font-size: rem(18);
            line-height: rem(24);
            text-transform: none;
            margin: rem(40) 0 0;
            border-radius: rem(6);
            display: inline-flex;
            justify-content: center;
            align-items: center;
        }
    }
    img {
        // background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%)
    }
    .banner_img {
        width: rem(620);
        height: rem(555);
        z-index: 2;
        position: relative;
        margin-right: -50px;
        margin-top: 100px;
    }

}