@import 'styles/_unit.scss';

.features {
    padding: rem(40) 0;
    margin: 0 0 rem(60);
    
    .features_content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: rem(40) 0 0;
        gap: rem(24);
        
        .features_content_item {
            max-width: rem(290);
            padding: rem(20);
            border: 1px solid #EFF0F6;
            border-radius: rem(8);
            
            .features_item_icon {
               width: rem(64); 
               height: rem(64);
               border-radius: 50%;
               display: flex;
               align-items: center;
               justify-content: center;
               background: rgba(27, 91, 247, 0.06);
            }
            
        }
        
        .features_context {
            
            h4 {
               font-size: rem(20); 
               line-height: rem(28);
               font-weight: 700;
               color:#1A2024;
               margin: rem(24) 0 0;
               font-family: "SF Pro Display";
            }
            p {
                font-size: rem(16);
                line-height: rem(22);
                color:#5B6871;
                margin: rem(10) 0 0;
                font-weight: 400;
            }
            
        } 
    }
    
}