@import 'styles/_unit.scss';

.numbers {
    padding: rem(40) 0;
    width: 100%;
    margin: 0 0 rem(60);
    
    .numbers_content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
        gap: rem(38);
        
        .numbers_content_item {
            // width: rem(255);
            text-align: center;
            // border:1px solid #000;
            
            &:not(:last-child) {
                padding-right: rem(38);
                border-right: 1px solid rgba(14, 69, 219, 0.4);
            }
            h3 {
               font-size: rem(48); 
               line-height: re(64);
               font-weight: 800;
               color:#1A2024;
               font-feature-settings: 'salt' on, 'liga' off;
               font-family: "SF Pro Display";
            }
            p {
                font-size: rem(18);
                line-height: rem(32);
                font-family: "SF Pro Display";
                color:#1A2024;
                font-feature-settings: 'salt' on, 'liga' off;
            }
        }
    }
}