@import "styles/_unit.scss";

.graduates {
  padding: rem(40) 0;
  width: 100%;

  .graduates_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    .graduates_content_item {
      position: relative;
      max-width: rem(294);
      height: rem(439);
      border-radius: rem(8);
      overflow: hidden;

      .graduates_content_img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }

      .graduates_control_panel {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background: url("../../../../public/images/graduates_layer.png");
        background-position: center top;
        background-repeat: no-repeat;
        background-size: contain;
        padding: rem(24) rem(24) 0;  

        &:hover {
          .graduates_play_btn {
            display: block;
          }
        }

        .graduates_play_btn {
          width: rem(197);
          height: rem(52);
          background: #fff;
          border-radius: rem(8);
          text-transform: none;
          display: none;
          transition: 1.2s ease;

          span {
            font-size: rem(17);
            line-height: rem(22);
            font-weight: 400;
            font-family: "SF Pro Display";
            color: #000;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
          }
        }
        h3 {
          font-size: rem(18);
          line-height: rem(20);
          font-weight: 600;
          font-family: "Inter";
          color: #fff;
          position: absolute;
          bottom: rem(24);
        }
      }
    }
  }
}
.feedback_dialog {
  width: 400px;
  height: 708px;
  border-radius: rem(8);
  overflow: hidden;
  // background: #000;
  
  .iframe {
    border: none;
  }
}
.close_icon {
  position: absolute;
  right: -100%;
  width: rem(32);
  height: rem(32);
  border-radius: 50%;
  border:none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}