@import 'styles/_unit.scss';

.studyPlan {
    padding: rem(40) 0;
    margin: 0 0 rem(60);
    
    .studyPlan_title {
        font-size: rem(40);
        line-height: rem(47);
        font-weight: 700;
        color: #000;
        font-family: "SF Pro Display";
        text-align: center;
    }
    
    .studyPlan_content {
        width: 100%;
       margin: rem(40) 0 0; 
       
        
    }
    
    
    .accordion {
        background-color: none !important;
        border-radius: rem(8) !important;
        overflow: hidden;
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
        
        .accordion_title {
            font-size: rem(20);   
            line-height: rem(25);
            font-weight: 700;
            color:#000;
            width: rem(800);
            font-family: "SF Pro Display";
        }
        .accordion_details {
            border-bottom-left-radius: rem(8);
            border-bottom-right-radius: rem(8);
            background: #F3F7FF;
            padding: 0 !important; 
            
            
            .accordion_content {
                padding: 0 0 rem(16) rem(48);  
                
                li {
                    font-size: rem(17);
                    line-height: rem(28);
                    font-weight: 400;
                    font-family: "SF Pro Display";
                    color:#5B6871;
                    
                    &:not(:last-child) {
                        margin-bottom: rem(12);
                    }
                }
            }
        }
        
    }
}