@import "styles/_unit.scss";

.courses {
  width: 100%;
  background: #f3f7ff;
  margin: 0 0 rem(60);
  padding: rem(40) 0;

  .courses_content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: rem(24);
    width: 100%;

    .courses_content_item {
      max-width: rem(400);
      background: #ffffff;
      border-radius: 6px;
      padding: rem(8) rem(12) rem(24);
      cursor: pointer;

      &:hover {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      }

      .courses_content_img {
        width: rem(376);
        height: rem(212);
        margin-bottom: rem(24);
        overflow: hidden;
        border-radius: rem(6);
        position: relative;
      }
    }

    .courses_context {
      h4 {
        font-family: "SF Pro Display";
        font-weight: 600;
        font-size: rem(24);
        line-height: rem(32);
        color: #18191f;
        margin: 0 0 rem(12);
      }

      p {
        font-family: "SF Pro Display";
        font-size: rem(16);
        line-height: rem(24);
        color: #5b6871;
        max-width: rem(286);
        margin: 0 0 rem(24);
      }

      a {
        font-family: "SF Pro Display";
        font-weight: 400;
        font-size: rem(16);
        line-height: rem(24);
        color: #1b5bf7;
      }
    }
  }
}
