@import 'styles/_unit.scss';

.advantages {
    padding: rem(32) 0 rem(36);
    margin: 0 0 rem(60);
    background: #F3F7FF;
    position: relative;
    z-index: -2;
    
    .advantages_content {
        max-width: rem(930);
        z-index: 22 !important;
        
        .advantages_content_item {
            z-index: 333 !important;
            .advantages_text {
                max-width: rem(511);
                margin: 0 0 rem(32);
                z-index: 333;
                
                h2 {
                    font-size: rem(40);  
                    line-height: rem(48);
                    font-family: "SF Pro Display";
                    font-weight: 700;
                    color:#18191F;
                    margin: 0 0 rem(16);
                }
                p {
                    font-size: rem(16);
                    line-height: rem(24);
                    font-weight: 400;
                    font-family: "Inter";
                    max-width: rem(511);
                    color: #5B6871;
                }
            }
            
            .advantages_context {
                display: flex;
                .advantages_context_item {
                    background: #FFFFFF;
                    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.07);
                    border-radius: 8px;
                    width: rem(274);
                    height: rem(144);
                    padding: rem(16) 0 0 rem(24);
                    z-index: 1;
                    
                    &:not(:last-child) {
                        margin-right: rem(24);
                    }
                    
                    .advantages_context_info {
                        
                        .advantages_context_icon {
                            width: rem(56);
                            height: rem(56);
                            border-radius: 50%;
                            background: #F3F7FF;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 0 0 rem(12);
                        }
                        p   {
                            font-size: rem(17); 
                            line-height: rem(22);
                            font-family: "SF Pro Display";
                            font-weight: 600;
                            color:#00040A;
                            max-width: rem(246);
                        }
                    }
                }
            }
        }
    }
    .advantages_img {
        position: absolute;
        right: 0;
        top:0;
        width: rem(576);
        height: rem(396);
        z-index: -1 !important;
        
    }
    .layer_img {
        position: absolute;
        // background: #000;
        z-index: -0.5;
        top:0;
        right: 448px;
    }
}